html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.grains li {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.grains img {
  width: 100px;
  float: left;
  display: inline-block;
  margin-right: 5px;
}

.grains h2 {
  font-size: 1em;
  margin: 0;
}

.grains p {
  font-style: italic;
  margin: 0;
}
